.Header {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  max-width: 76rem;
  margin: auto;
}

.HeaderLogoGroup {
  display: flex;
  align-items: center;
}

.HeaderLink {
  margin-left: 12px;
}
