.Header {
  padding: 48px 0px;
  overflow-x: hidden;
  width: 100%;
}

.HeaderLogoGroup {
  display: flex;
  align-items: center;
}

.HeaderLink {
  margin-bottom: 24px;
  padding: 0px 12px;
}

.HeaderExternalLink {
  margin: 0px 12px;
}
